:root {
    --primary: #3C621C;
    --accent: #FAD225;
    --black: #000000;
}

.header {
    margin:0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 2rem;
}

.contact_cards {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_card {
    padding: 5% 0 3% 0;
    position: relative;
    background:#f8dd62 ;
    border:var(--black) 2px solid;
    width: 300px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_card img {
    position: absolute;
    top:-50px;
    height:75px;
    
}

.contact_card h2 {
    flex: 2;

}

.contact_card a {
    color:var(--black);
    background: #fff;
    width: 80%;
    border: var(--black) 2px solid;
    padding: 10px;
}

.address_info {
    margin: 40px auto 0 auto;
    padding: 40px 10%;
    background: #EEFEE9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.address_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    width: 40%;
    height: 100%;
    font-size: 1.75rem;
}

.address_text p {
    font-size: 1.5rem;
}

.address_text a {
    font-size: 1.5rem;
    color:var(--black);
}

#map {
    border: var(--black) 3px solid;
    width: 60%;
    height: 500px;
}

@media screen and (max-width: 960px){

    .header {
        height: 20vh;
        font-size: 1.5rem;
    }

    .contact_cards {
        width: 95%;
    }

    .contact_card {
        margin: 6px;
        font-size: 0.4rem;
        height: 150px;
    }

    .contact_card a {
        width: 90%;
        padding: 8px;
    }

    .address_info {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }

    .contact_card img {
        top:-30px;
        height:45px;
        
    }

    .address_text {
        width: 90%;
    }

    #map {
        width: 90%;
        height: 300px;
        margin: 10px
    }
}
