


.header_text{
    font-size: 2rem;
    padding:50px;
    text-align: center;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-justify: distribute;
}
.carousel_container{
    padding: 50px;
    height: 800px;
    background: #EEFEE9;
}





.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}


.swiper {
width: 100%;
margin: 0 auto;
}

.swiper-slide {
width: 100%;
background-size: cover;
background-position: center;
}

.mySwiper2 {
    border:black 3px solid;
    margin:20px;
    height: 70%;
    width: 80%;
}

.mySwiper {
    border:black 3px solid;
    width:80% ;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
width: 25%;
height: 100%;
opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
opacity: 1;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}


@media screen  and (max-width: 960px){

    .header_text{
        font-size: 1rem;
        padding:30px;
        text-align: center;
    }
    .carousel_container{
        padding: 30px;
        height: 350px;
    }

}